BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
AlignOperands: true
BreakConstructorInitializers: AfterColon

# Regroup includes by category
IncludeBlocks: Regroup
IncludeCategories:
  # C++ include files go in block 1
  - Regex: '^<[:alnum:]+>'
    Priority: 1
  
  # Capnproto files go in block 3
  - Regex: '^<capnp/[[:alnum:].]+>'
    Priority: 3
  
  # C include files go in block 2
  - Regex: '^<[[:alnum:]./]+>'
    Priority: 2
  
  # A few special includes go in block 4 (internal, but generated or imported to the project)
  - Regex: '^"(db\.capnp\.h)|(blake2-.*)"'
    Priority: 4
  
  # Everything else goes in block 5
  - Regex: '.*'
    Priority: 5
  