[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "CLI11"]
	path = CLI11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "deps/CLI11"]
	path = deps/CLI11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "deps/cereal"]
	path = deps/cereal
	url = https://github.com/USCiLab/cereal.git
